body, html {
  position: relative;
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 1440px;
}

h1, h2, h3 {
    color: hsl(192, 100%, 9%);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  /* color: white; */
}

ul {
list-style-type: none;
}

li {
  margin: 1rem;
  padding: .25rem;
}

.relative {
  position: relative;
}

.middle-container-img {
  border-radius: 100%;
}

.top-container {
  background-color: hsl(193, 100%, 96%);
  height: 650px;
  position: relative;
}

.logo-svg {
  position: absolute;
  top: 50px;
  left: 100px;
}

.mockup {
  position: absolute;
  top: 150px;
  right: 100px;
  
}

.community {
  position: absolute;
  top: 200px;
  left: 80px;
  width: 35%;
  margin: auto;
}

.butn {
  position: absolute;
  top: 50px;
  right: 150px;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  -webkit-box-shadow: 4px 1px 3px #666666;
  -moz-box-shadow: 4px 1px 3px #666666;
  box-shadow: 4px 1px 3px #666666;
  font-family: Georgia;
  color: #000;
  font-size: 18px;
  background: #ffffff;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

.butn:hover {
  background: #fc3ce6;
  text-decoration: none;
}

.get-started-btn {
 position: absolute;
  top: 280px;
  left: 120px;
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 18px;
  background: hsl(322,100%, 66%);
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

.get-started-btn:hover {
  background: #58224d;
}

  .middle-container{
    height: 900px;
    width: 1440px;
    position: relative;
  }

  .skill-row {
    width: 49%;
    text-align: left;
    line-height: 2;
    margin-left: 200px;
}

.grow-content {
  position: absolute;
  top: 150px;
  left: 60px;
  width: 45%;
}
 
 .grow-img {
    position: absolute;
    right: 250px;
    top: 60px;
    border-radius: 100%;
    width: 25%;
 }

 .conversation-content {
   position: absolute;
   top: 450px;
   right: 300px;
   width: 45%;
 }

  .conversation-img {
    position: absolute;
    top: 400px;
    left: 100px;
    border-radius: 100%;
    width: 25%;
  }

  .users-content {
    position: absolute;
    bottom: 480px;
    left: 60px;
    width: 45%;
  }

  .users-img {
    border-radius: 100%;
    width: 25%;
    position: absolute;
    right: 250px;
    bottom: 400px;
  }

  .clear-right {
    clear: left;
  }

  .clear-left {
    clear: both;
  }

  .relative {
    position: relative;
  }

  .card {
    position: absolute;
    background-color: hsl(159, 19%, 67%);
    left: 350px;
    top: 30px;
    width: 45%;
    height: 250px; 
  }

  .get-started-free-btn {
    position: absolute;
    top: 160px;
    right: 200px;
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 18px;
    background: hsl(322,100%, 66%);
    padding: 10px 40px 10px 40px;
    text-decoration: none;
  }
  
  .get-started-free-btn:hover {
    background: #d13dc2;
    text-decoration: none;
  }

  .bottom-container {
    position: relative;
    top: 380px;
    background-color: hsl(192, 100%, 9%);
    color: hsl(208, 11%, 55%);
    width: 1440px;
    height: 400px;
  }

.left-list {
  position: absolute;
  bottom: 160px;
  left: 500px;
}


.right-list {
  position: absolute;
  bottom: 161px;
  right: 550px;
}


  .footer {
    bottom: 60px;
  }

  .footer-logo-svg {
      position: absolute;
      left: 100px;
      bottom: 300px;
  }

  .social-nav {
    position: absolute;
    top: 125px;
    left: 100px;
  }

  #copyright {
    position: absolute;
    top: 160px;
    left: 90px;
  }

  .attribution {
    position: absolute;
    right: 150px;
    top: 150px;
    font-size: 11px;
    width: 20%;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }

  .attribution-p {
    position: absolute;
    bottom: 10px;
    left: 510px;
    font-size: 11px;
  }

  .subscribe-label {
    position: absolute;
    top: 120px;
    right: 355px;
  }
 
  .subscribe-btn {
    position: absolute;
    right: 150px;
    top: 280px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    background: hsl(322, 100%, 66%);
    padding: 15px 46px 15px 46px;
    text-decoration: none;
    text-align: center;
    width: 80px;
  }
  
  .subscribe-btn:hover {
    background: #cc0cbf;
    text-decoration: none;
  }

  #subscribe-input {
    position:   absolute;
    top: 230px;
    right: 150px;
    width: 280px;
    height: 30px;
  }

  